<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <%- include ('../partials/head.ejs') %>

  </head>
  <body>
    <!-- -------------- Banner & Nav --------------- -->

    <%- include ('../partials/hero.ejs') %>
    <%- include ('../partials/nav.ejs') %>


    <!-- ------------------ Main -------------------- -->

    <div class="container">
      <% for(let i = 0; i < posts.length; i++){ %>
          <div class='card text-center col-md-3 mb-4'>
            <div class='card-header'>
              <a href="/main/<%=posts[i]._id%>">
                <%=posts[i].title%>
              </a>
            </div>
            <div class='card-body'>
              <img src="<%=posts[i].picture%>" alt="<%=posts[i].title%>" width='150em' height='150em'>
            </div>
            <div class='card-footer'>
              <b>Author:</b> <%=posts[i].author%> <br/>
              <b>Description:</b> <%=posts[i].description%><br/>

              <b>Tags:</b>
                <p>
                  <% if (posts[i].creativity === true) { %>
                    <span class="badge badge-info">Creativity</span>
                  <% } %>
                  <% if (posts[i].lifestyle === true) { %>
                    <span class="badge badge-info">Lifestyle</span>
                  <% } %>
                  <% if (posts[i].nature === true) { %>
                    <span class="badge badge-info">Nature</span>
                  <% } %>
                  <% if (posts[i].adventure === true) { %>
                    <span class="badge badge-info">Adventure</span>
                  <% } %>
                  <% if (posts[i].travel === true) { %>
                    <span class="badge badge-info">Travel</span>
                  <% } %>

                </p>
              </div>
          </div>
      <% } %>
    </div>

  </body>
</html>
