<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <%- include ('../partials/head.ejs') %>

  </head>
  <body>
    <!-- -------------- Banner & Nav --------------- -->

    <%- include ('../partials/hero.ejs') %>
    <%- include ('../partials/nav.ejs') %>


    <!-- ------------------ Main -------------------- -->

    <div class="container text-center">
      <div class='card mx-auto'>
        <div class='card-header'>
          <%=post.title%>
        </div>

        <div class='card-body'>

            <img src="<%=post.picture%>" alt="<%=post.title%>" /><br/><br/>
            <p class="fw-bold">Author:</p> <%=post.author%> <br/><br/>
            <p class="fw-bold">Description:</p> <%=post.description%><br/><br/>
            <p class="fw-bold">Tags:</p><br/>

            <p>
              <% if (post.creativity === true) { %>
                <a href="#" class="badge badge-pill bg-secondary">Creativity</a>
              <% } %>
              <% if (post.lifestyle === true) { %>
                <a href="#" class="badge badge-pill bg-secondary">Lifestyle</a>
              <% } %>
              <% if (post.nature === true) { %>
                <a href="#" class="badge badge-pill bg-secondary">Nature</a>
              <% } %>
              <% if (post.adventure === true) { %>
                <a href="#" class="badge badge-pill bg-secondary">Adventure</a>
              <% } %>
              <% if (post.travel === true) { %>
                <a href="#" class="badge badge-pill bg-secondary">Travel</a>
              <% } %>

            </p> <br/>

            <div class="float-end">
              <% if (post.likes.length == 0) { %>
                <form action="/main/<%=post.id%>/like/<%=currentUser.username%>" method="POST">

                  <button type="submit"class='position-relative class="btn btn-outline-primary"'>Like

                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                      <%=post.likes.length%>
                    </span>

                  </button>
                </form>
              <% } else { %>
                <% for (let i = 0; i < post.likes.length; i++){
                 if (currentUser.username == post.likes[i].name){ %>
                   <form action="/main/<%=post.id%>/dislike/<%=currentUser.username%>?_method=DELETE" method="POST">

                     <button type="submit" class='position-relative class="btn btn-outline-primary"'>Unlike

                       <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                         <%=post.likes.length%>
                       </span>

                     </button>
                   </form>
               <% } else { %>
                 <form action="/main/<%=post.id%>/like/<%=currentUser.username%>" method="POST">
                   <button type="submit" class='position-relative class="btn btn-outline-primary"'>Like

                     <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                       <%=post.likes.length%>
                     </span>

                   </button>
                 </form>
               <% } %>
             <% } %>
            <% } %>

            </div>

        </div>

        <div class='card-footer'>

          <p class="fw-bold">Comments:</p><br/><br/>

          <div class="h-50 overflow-scroll">
            <% for(let i = 0; i < comments.length; i++) { %>
              <div>
              <%=comments[i].comment%><br/>
              By: <%=comments[i].author%>
            </div><br/>
            <% } %>
          </div><br/>

          <% if(currentUser){ %>
            <div class='newForm'>
              <form action='/main/<%=post.id%>/comment' method="POST" class="form-inline">
                <div class='form-group'>
                  <label>New Comment: </label>
                  <textarea name="comment" class="form-control"></textarea>
                </div>
                <input type="hidden" name="author" value='<%= currentUser.username %>' />
                <input type="submit" value="Comment"/>
              </form>
            </div>
          <% } %>


        </div>

      </div>
    </div>
  </body>
</html>
